.jumbotron {
    background-color: #ffcb74;
    color: #4a3f35;
    margin-top: 50px;
    position: relative;
    text-align: center;
}

.index {
    background-color: #ffcb74;
    color: #4a3f35;
    margin-top: 50px;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0px;
    opacity: 3.5;
}

.display-4 {
    font-weight: bold;
}


body {
    background: #ea907a;
}

.card-hotel {
    flex: 1 200px;
    padding: 2px 5px 2px 5px;
    background: #4f8a8b;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

img {
    margin-top: 2.5px;
    border-radius: 10px 10px 0px 0px;
}

.btn-block {
    margin-bottom: 5px;
    background: #f4f6ff;
    color: #4f8a8b;
}


footer {
    background: #ea907a;
}

.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}

.tabla {
    background-color: cornsilk;
    margin-bottom: 15px;
}

.form-control {
    background-color: #fff4e1;
}

.tab-content {
    padding-top: 10px;
}