$yellow: #FFF000;
$red: #DC143C;
$green: #00f51481;
$black: #000000;

@mixin margenes($top, $botton) {
    margin-top: $top;
    margin-bottom: $botton;
    background-color: $yellow;
}

.jumbotron {
    background-color: $red;
    color: #4a3f35;
    margin-top: 50px;
    position: relative;
    text-align: center;

}

.index {
    background-color: $green;
    color: #4a3f35;
    margin-top: 50px;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0px;
    opacity: 3.5;
}

.display-4 {
    font-weight: bold;
}


body {
    background: $red;
}

.card-hotel {
    flex: 1 200px;
    padding: 2px 5px 2px 5px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 10px;

    @include margenes(50px, 10px);
}

img {
    margin-top: 2.5px;
    border-radius: 10px 10px 0px 0px;
}

.btn-block {
    margin-bottom: 5px;
    background: $green;
    color: $black;
}


footer {
    background: $red;
}

.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}

.tabla {
    background-color: cornsilk;
    margin-bottom: 15px;
}

.form-control {
    background-color: #fff4e1;
}

.tab-content {
    padding-top: 10px;
}
