@yellow: #FCF87F;
@red: #DC143C;
@green: #00f51481;
@black: #000000;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
    background-color: @yellow;
}

.padding(@arriba: 0px, @der: 0px, @abajo: 0px, @izq: 0px ) {
    padding: @arriba @abajo @izq @der;
}

.jumbotron {
    background-color: @red;
    color: #4a3f35;
    margin-top: 50px;
    position: relative;
    text-align: center; }
  
  .index {
    background-color: @green;
    color: #4a3f35;
    margin-top: 50px;
    position: relative;
    display: inline-block;
    text-align: center;
    opacity: 3.5; 
    .padding(0px, 0px, 0px, 0px);}
  
  .display-4 {
    font-weight: bold; }
  
  body {
    background: @green; }
  
  .card-hotel {
    flex: 1 200px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 10px;
    .margenes(50px, 10px);
    .padding( 2px, 5px, 2px, 5px);}
  
  img {
    margin-top: 2.5px;
    border-radius: 10px 10px 0px 0px; }
  
  .btn-block {
    margin-bottom: 5px;
    background: @red;
    color: @black; }
  
  footer {
    background: @green; }
  
  .texto-encima {
    position: absolute;
    top: 10px;
    left: 10px; }
  
  .tabla {
    background-color: cornsilk;
    margin-bottom: 15px; }
  
  .form-control {
    background-color: #fff4e1; }
  
  .tab-content {
    padding-top: 10px; }
  