.jumbotron {
  background-color: #DC143C;
  color: #4a3f35;
  margin-top: 50px;
  position: relative;
  text-align: center;
}
.index {
  background-color: #00f51481;
  color: #4a3f35;
  margin-top: 50px;
  position: relative;
  display: inline-block;
  text-align: center;
  opacity: 3.5;
  padding: 0px 0px 0px 0px;
}
.display-4 {
  font-weight: bold;
}
body {
  background: #00f51481;
}
.card-hotel {
  flex: 1 200px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 10px;
  background-color: #FCF87F;
  padding: 2px 2px 5px 5px;
}
img {
  margin-top: 2.5px;
  border-radius: 10px 10px 0px 0px;
}
.btn-block {
  margin-bottom: 5px;
  background: #DC143C;
  color: #000000;
}
footer {
  background: #00f51481;
}
.texto-encima {
  position: absolute;
  top: 10px;
  left: 10px;
}
.tabla {
  background-color: cornsilk;
  margin-bottom: 15px;
}
.form-control {
  background-color: #fff4e1;
}
.tab-content {
  padding-top: 10px;
}
