.jumbotron {
  background-color: #DC143C;
  color: #4a3f35;
  margin-top: 50px;
  position: relative;
  text-align: center; }

.index {
  background-color: #00f51481;
  color: #4a3f35;
  margin-top: 50px;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 0px;
  opacity: 3.5; }

.display-4 {
  font-weight: bold; }

body {
  background: #DC143C; }

.card-hotel {
  flex: 1 200px;
  padding: 2px 5px 2px 5px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 10px;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 10px;
  background-color: #FFF000; }

img {
  margin-top: 2.5px;
  border-radius: 10px 10px 0px 0px; }

.btn-block {
  margin-bottom: 5px;
  background: #00f51481;
  color: #000000; }

footer {
  background: #DC143C; }

.texto-encima {
  position: absolute;
  top: 10px;
  left: 10px; }

.tabla {
  background-color: cornsilk;
  margin-bottom: 15px; }

.form-control {
  background-color: #fff4e1; }

.tab-content {
  padding-top: 10px; }
